html {
  scroll-behavior: smooth;
  scroll-behavior: inherit;
}

.h {
  position: relative;
  padding: 20px;
}

.h img {
  width: 100%;
  height: 450px;
}
@media only screen and (max-width: 720px) {
  .h {
    padding: 0;
  }
  .h img {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
}
